beautifulsoup4
click
coverage
Django
django-mathfilters
django-widget-tweaks
first
flake8
mailchimp3
mccabe
Pillow
pip-tools
psycopg2
py
pycodestyle
pyflakes
pyshorteners
pytest
pytest-cov
pytest-django
pytest-flake8
requests
six

