{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load mathfilters %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/subscribers/dashboard.css' %}">

{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
    	<div class='row text-center'>

    		<div class='col-md-6 col-md-offset-3'>

    			<p class='invite-claim'>Don't leave your friends behind</p>
    			
    			<h3 class='invite-title'>INVITE FRIENDS & EARN PRODUCT</h3>
    			<br>
    			<p class='expl-unique'>Share your unique link now and earn amazing rewards</p>
    			<span class='link-box'>
    				<a  href="{% url 'home_when_referred' ref_code=ref_code %}">
    					{{ request.get_host }}{% url 'home_when_referred' ref_code=ref_code %}
    				</a>
    			</span>
    			<br>
    			<br>

    			<a href="javascript:fbShare('websiteurl', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)" class='btn azm-social azm-size-48 logo-social facebook' id='fb-link' href="" >
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>

				<a class='btn azm-social azm-size-48 logo-social twitter' id='tw-link' href="https://twitter.com/home?status=This%20is%20just%20a%20try">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>

    		</div>



    	</div>
        
    </div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">

		{% if not has_referred_somebody %}
		<div class="referred-check">
			<p class="text-center">
				You haven't referred anyone yet. Come on, share your unique link and get these awesome rewards!
			</p>
		</div>
		{% endif %}

		
		<div class="progress-wrapper">
		{% with rewards_length=rewards|length %}
			<div class="progress-top-data">
				

				

				<span class="progress-heading correct-right-spacing">FRIENDS JOINED</span>
				{% for reward in rewards %}
				<!-- 80 comes from 100 - 20% width for the heading -->
				<div class="progress-number-joined text-center correct-right-spacing correct-left-spacing" style="width:{{80|div:rewards_length}}%;">
					<a href="#">{{ reward.referrals_needed }}</a>
				</div>
				{% endfor %}



			</div>

			<div class="progress">

				<div class="progress-bar" role="progressbar" aria-valuenow="70"
				aria-valuemin="0" aria-valuemax="100" style="width:{{ width }}%; {% if not has_referred_somebody %}background-color: #f47442{% endif %};">
					<span class="sr-only">{{ width }}% Complete</span>
				</div>

			</div>

			<div class="progress-bottom-data">
				<span class="progress-heading">REWARDS</span>
				{% for reward in rewards %}
				<div class="progress-rewards text-center correct-right-spacing correct-left-spacing" style="width:{{80|div:rewards_length}}%">
					<span>{{ reward.title }}</span>
				</div>
				{% endfor %}

			</div>

		{% endwith %}
		</div>

	</div>

</div>


{% endblock %}