{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/subscribers/home.css' %}">

{% endblock %}



{% block content %}


<div class='container-fluid'>

	<div class="jumbotron" id='jumbo-main'>
	    <div class="container">
	    	<div class='row text-center'>

	    		



	    	</div>
	        
	    </div>
	</div>

	<div class = 'row text-center' id='input-block'>
		<div class='col-md-6 col-md-offset-3'>

			<h4>BE THE FIRST TO KNOW</h4>
			<br>

			<form class="form-inline" method='post' action="{% url 'home' %}" role='form'>


				<div class='input-group'>

			    	{% csrf_token %}
			    	{{ form.email }}
			    	
			    	<span class='input-group-btn'>
						<input class="form-control btn btn-info" type="submit" value="Submit"/>
					</span>

				</div>


			</form>

		</div>
	</div>
</div>


{% endblock %}
